* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 1.6rem;

  background-color: #000;
  height: 100vh;
}

.sr-only {
  position: absolute;
  width: 0.1rem;
  height: 0.1rem;
  padding: 0;
  margin: -0.1rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

#app {
  width: 112rem;
  margin: 0 auto;
  padding-top: 10rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

form {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  width: 55%;
}

form input {
  border: none;
  border-radius: 0.5rem;
  padding: 1.6rem;
  background: #06181c;
  flex: 1;
  color: white;

  font-size: 1.6rem;
}

form input::placeholder {
  color: #7c7c8a;
}

form button {
  background: #065e7c;
  color: white;
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;

  border: none;
  border-radius: 0.5rem;
  display: flex;
  padding: 1.2rem 3.2rem;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;

  cursor: pointer;
  transition: 0.2s ease-in-out;

  &:hover {
    color: #065e7c;
    background: #fff;
  }
}

form button i {
  font-size: 2rem;
}

.rounded-table {
  border-radius: 1.2rem;
  border: 1px solid #4a808c;
  margin-top: 8.8rem;
  overflow: hidden;
}

table * {
  font-size: 2rem;
  color: white;
  text-align: left;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  background-color: #092d38;
  padding: 1.6rem 4rem;
  font-weight: bold;
}

thead th:first-child {
  width: 50%;
}

tbody tr:nth-child(even) {
  background: #06181c;
  border-block: 1px solid #4a808c;
}

tbody tr:nth-child(odd) {
  background: rgba(6, 22, 27, 0.5);
}

tbody td {
  padding: 2.4rem 4rem;
}

.user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.user img {
  height: 5.6rem;
  width: 5.6rem;
  border-radius: 999px;
  object-fit: cover;
}

.user a {
  text-decoration: none;
  color: #e1e1e6;

  & > p {
    font-weight: 700;
    line-height: 3.2rem;
  }
}

button.remove {
  border: none;
  background: transparent;
  color: #f75a68;
  font-weight: 700;
  line-height: 3.2rem;

  cursor: pointer;
  transition: 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}
